/* Common CSS */


/* Height properties */
.ht-50x{
    height: 50px;
}
.ht-80{
    height:80%;
}
.ht-20x{
    height:20px;
}
.ht-23x{
    height: 23px;
}

/* Width properties */
.w-50x{
    width:50px;
}
.w-60x{
    width:60px;
}
.w-5{
    width: 5%;
}
.w-20{
    width: 20%;
}
.w-55{
    width:75%;
}
.mi-w-300x{
    min-width:300px;
}

/* Margin props */
.m-1-2{
    margin:1% 2%;
}
.m-auto{
margin: auto;
}
.m-b-20x{
margin-bottom:20px;
}
.m-30x{
    margin: 30px;
}



/* Padding properties */
.p-2{
  padding: 2%;
}
.p-5x{
    padding:5px;
}
.p-8x{
    padding: 8px;
}
.p-10{
    padding: 10%;
}
.p-1-0{
    padding: 1% 0;
}
.p-30x{
    padding:30px;
}
.p-4x-8x{
    padding: 4px 8px;
}


/* Display properties */
.d-b{
    display: block;
}
.d-f{
    display: flex;
}
.d-t{
    display: table;
}

/*Flex attributes */


/* Border properties */
.b-1x{
    border: 1px solid #6d6a6a;
}
.b-b-1x{
    border-bottom: 1px solid #6d6a6a;
}
.b-t-r-5x{
    border-top-right-radius: 5px;
}
.b-t-l-5x{
    border-top-left-radius: 5px;
}
.b-b-r-5x{
    border-bottom-right-radius: 5px;
}
.b-b-l-5x{
    border-bottom-left-radius: 5px;
}
.b-r-4x{
    border-radius:4px;
}
.b-r-50{
    border-radius:50%;
}

/* Text properties */
.t-n{
    text-decoration: none;
}

/* font-properties */ 
.fs-15x{
  font-size: 15px;  
}
.fs-20x{
  font-size: 20px;  
}

/* Cursor properties */
.c-p{
    cursor: pointer;
}

.selected{
    font-weight: bold;
    color: rgb(42, 103, 218);
}

.loader-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.8);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000000; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    top: 45%;
    left: 44%;
    position: absolute;
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .data-div{
      display: flex;
      flex-direction: row;
      margin-top: 5px;
  }
  

@media only screen and (max-width: 571px) {
        /* For mobiles and Phablets: */
    .sugg-box{
        width:250px;
    }
    .place-box{
        width: 300px;
    }
    .input-box{
        width: 200px;
    }
    .name-div{
        width:100%;
    }
    .temp-div{
        width:40%
    }
    .unit-div{
        width: 40%;
    }
    .cross-div{
        width: 20%;
    }
    .row{
        flex-direction: column;
    }
    .data-div{
        width:100%;
    }

}

@media only screen and (min-width: 672px) {
    /* For tablets and Desktop: */
        .sugg-box{
        width:450px;
    }
    .place-box{
        width: 700px;
    }
    .input-box{
        width: 400px;
    }
    .name-div{
        width:55%;
    }
    .temp-div{
        width:40%
    }
    .unit-div{
        width: 40%;
    }
    .cross-div{
        width: 20%;
    }
    .unit-container{
        width: 350px;
    }
    .unit-box{
        margin-right:280px;
    }
    .row{
        flex-direction: row;
    }
    .data-div{
        width:45%;
    }
}

.bg-cloudy{
    background-image: url(../assets/cloudy.jpg);
    background-size: 100% 100%;
}
.bg-clear{
    background-image: url(../assets/clear.jpg);
    background-size: 100% 100%;
}
.bg-windy{
    background-image: url(../assets/windy.jpg);
    background-size: 100% 100%;
}
.bg-sunny{
    background-image: url(../assets/sunny.jpg);
    background-size: 100% 100%;
}
.bg-rainy{
    background-image: url(../assets/rainy.jpg);
    background-size: 100% 100%;
}
.bg-snowy{
    background-image: url(../assets/snowy.jpg);
    background-size: 100% 100%;
}
.bg-ina{
    background-image: url(../assets/ina.png);
    background-size: 100% 100%;
}
.bg-haze{
    background-image: url(../assets/haze.jpg);
    background-size: 100% 100%;
}
.bg-mist{
    background-image: url(../assets/mist.jpg);
    background-size: 100% 100%;
}

